* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 40px 8%;
}
header{
  text-align: center;
  margin-bottom: 20px;
}
nav{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section h2{
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
  color: brown;
  margin-bottom: 10px;
}
section p{
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: rgb(64, 84, 85);
  margin-bottom: 20px;
}
.top-btn{
  position: fixed;
  bottom: 50px;
  right: 24px;
  color: white;
  background-color: blue;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-btn:hover{
  color: black;
  background-color: chocolate;
}
footer{
  text-align: center;
  font-size: 10px;
  color: black;
  font-weight: bold;
}