*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  width: 75%;
  background-color: antiquewhite;
  border-radius: 50px;
  margin: 100px;
  padding: 0px 35px;
}
.header{
 color: rgb(12, 7, 0);
 font-size: 50px;
 font-weight: bold;
 margin-bottom: 15px;
 
}

.header span{
  color: rgb(110, 153, 179);
}
.paragraph{
  color: rgb(78, 78, 76);
  font-size: 25px;
  font-weight: 400;
}
.btn{
  background-color: rgb(12, 66, 5);
  border: none;
  border-radius: 15px;
  padding: 18px 25px;
  margin-top: 20px;
  color: white;
  cursor: pointer;
  font-size: 25px;
  transition: background-color .3s ease;
  
}
.btn:hover{
  background-color: blue;
}

.image img{
  height: 320px;
  width: 320px;
  object-fit: cover;
  border-radius: 35px;
}
